<% provide(:title, "About Us") %>
<canvas id="gradient-canvas" style="height: 105vh;">
</canvas>
<%= render 'layouts/navbar' %>
<div class="wrapper-us">
<div class="aboutus-container">
  <h1 style="padding-bottom: 1rem;">About Us</h1>
</div>
<div class="aboutus df fdr">
  <div class="photo-about">
    <%= image_tag 'team.jpg', style: 'height:360px'%>
  </div>
  <div class="text-about">
    <p style="font-size: 1.2rem;">Welcome to Koun.online, a web agency born from the lifelong friendship of three childhood friends. United since kindergarten, our global journeys through Canada, France, USA, China, and South America have refined our design ethos.
    <br>
    <br>
    We blend our diverse experiences from startups, hospitality, and freelancing to create a web agency like no other. Our expertise lies in creating websites that are not just visually stunning but also intuitively functional. We believe in a personalized approach, treating each project as a unique story waiting to be told.
    <br>
    <br>
    At Koun.online, we’re not just developers; we’re storytellers, designers, and innovators. Our passion for exquisite design and attention to detail drives us to deliver websites that are not only efficient but also captivating. Join us, and experience a digital craftsmanship where your vision meets our unmatched creativity and care.</p>
  </div>
</div>
</div>
