<% provide(:title, "About Us") %>
<canvas id="gradient-canvas-about">
</canvas>
<%= render 'layouts/navbar' %>
<div class="wrapper-us">
<div class="aboutus-container">
  <h1><%= t 'about.title' %></h1>
</div>
<div class="aboutus df fdr">
  <div class="photo-about">
    <%= image_tag 'team.jpg', class: "aboutus-photo"%>
  </div>
  <div class="text-about">
    <p>
      <%= t 'about.text_html' %>
    </p>
  </div>
</div>
</div>
