<canvas id="gradient-canvas">
</canvas>
<%= render 'layouts/navbar' %>
<div class="wrapper-us">
<div class="aboutus-container">
  <h1>About Us</h1>
  <h3>Lorem ipsum dolor taboun mok 9a7ba ta3bok lain 3al zamel bkom a wlad 97ab</h3>
</div>
<div class="df fdr">
  <div class="photo-about">
    <%= image_tag 'team.jpg', style: 'height:420px'%>
  </div>
  <div class="text-about">
    Welcome to Koun.online, a web design haven born from the lifelong friendship of three Casablanca natives. United since kindergarten, our global journeys through Canada, France, USA, China, and South America have refined our design ethos.
    <br>
    <br>
    We blend our diverse experiences from startups, hospitality, and freelancing to create a web agency like no other. Our expertise lies in creating websites that are not just visually stunning but also intuitively functional. We believe in a personalized approach, treating each project as a unique story waiting to be told.
    <br>
    <br>
    At Koun.online, we’re not just developers; we’re storytellers, designers, and innovators. Our passion for exquisite design and attention to detail drives us to deliver websites that are not only efficient but also captivating. Join us, and experience a digital craftsmanship where your vision meets our unmatched creativity and care.
  </div>
</div>
</div>
