<% provide(:title, "FAQ") %>

<canvas id="gradient-canvas-contact">
</canvas>
<%= render 'layouts/navbar' %>
  <div class="faq">
  <canvas id="gradient-canvas-bottom">
  </canvas>
    <h1>FAQ</h1>
    <div class="accordion-item">
      <div class="accordion-header">What Services Do You Offer?</div>
      <div class="accordion-content ">
        <p>We specialize in comprehensive web solutions, including Ruby on Rails, ReactJS, front-end development (HTML, CSS, JavaScript), and development with WordPress and Shopify</p>    
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">How Does Your Web Development Process Work?</div>
      <div class="accordion-content ">
        <p>Our process involves initial consultation, design and development phases, rigorous testing, and final deployment, ensuring a seamless, high-quality website or application</p>    
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">Can You Customize WordPress and Shopify Sites?</div>
      <div class="accordion-content ">
        <p>Absolutely! We offer tailored WordPress and Shopify solutions, customizing them to meet your unique business needs and branding.</p>    
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">How Do You Ensure My Website is User-Friendly?</div>
      <div class="accordion-content ">
        <p>We prioritize responsive design, intuitive navigation, and engaging content, ensuring your website offers an excellent user experience on all devices.</p>    
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">What is Your Approach to SEO in Web Development?</div>
      <div class="accordion-content ">
        <p>Our development process includes SEO-optimized design and content, focusing on enhancing your site's visibility and ranking in search engine results.</p>    
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">How Long Does It Take to Develop a Website?</div>
      <div class="accordion-content ">
        <p>The timeline varies based on project complexity, but we strive for efficiency without compromising on quality. We'll provide a timeline estimate after understanding your specific needs.</p>    
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">Do You Offer Ongoing Support and Maintenance?</div>
      <div class="accordion-content ">
        <p>Yes, we provide ongoing support and maintenance services to ensure your website remains up-to-date, secure, and functioning optimally.</p>    
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">What Makes Your Agency Unique in Web Development?</div>
      <div class="accordion-content ">
        <p>Our commitment to quality, our expertise across various technologies, and our personalized approach to each project set us apart in delivering exceptional web solutions.</p>    
      </div>
    </div>
  </div>

  <script>
      // FONCTION ACCORDEON FAQ
  const accordionItem = document.querySelectorAll('.accordion-item');

  accordionItem.forEach(item => {
    const header = item.querySelector(".accordion-header");
    header.addEventListener('click', () => {
      // Vérifier si l'élément actuellement cliqué est actif
      const isActive = item.classList.contains('active');
  
      // Retirer la classe 'active' de tous les éléments
      accordionItem.forEach(otherItem => {
        otherItem.classList.remove('active');
      });
  
      // Si l'élément cliqué n'était pas actif, l'activer
      if (!isActive) {
        item.classList.add('active');
      }
    });
  });
  // Sélectionnez l'élément canvas et l'élément faq
const canvas = document.getElementById('gradient-canvas-bottom');
const faq = document.querySelector('.faq');
const faqStyle = window.getComputedStyle(faq);

// Convertissez la marge inférieure en valeur numérique
const faqMarginBottom = parseInt(faqStyle.marginBottom);

// Créez une fonction pour mettre à jour la hauteur du canvas
const updateCanvasHeight = () => {
  // Ajoutez la hauteur de faq et sa marge inférieure
  const totalHeight = faq.offsetHeight + faqMarginBottom;
  canvas.style.height = `${totalHeight}px`;
};

// Créez un ResizeObserver pour surveiller les changements de taille de l'élément faq
const resizeObserver = new ResizeObserver(entries => {
  for (let entry of entries) {
    // Mise à jour de la hauteur du canvas à chaque changement de taille
    updateCanvasHeight();
  }
});

// Commencez à observer l'élément faq
resizeObserver.observe(faq);

// Mise à jour initiale de la hauteur du canvas
updateCanvasHeight();
  </script>