
<div class="header-hero">
  <canvas id="gradient-canvas">
  </canvas>
  <div class="header">
    <div class="header-logo">
      <%= link_to root_path do %>
        <%= image_tag 'Koun-logo.svg', class: 'logo', alt: 'logo KOUN Website' %>
      <% end %>
    </div>
    </div>
    <div class="navbar">
      <ul>
        <li>Portfolio</li>
        <li>Services</li>
        <li>Blog</li>
        <li class="quote-button">Get a quote</li>
      </ul>
    </div>
    <div class="hero">
      <div class="hero-text">
        <h1>
          Offline is silent,<br>
          Online is loud.
        </h1>
        <h2>
          Partner with us to create a tailored Website.
        </h2>
        <div class="quote-button">Request a quote</div>  
      </div>
    <div class="hero-carrousel"></div>
  </div>
</div>
<div class="process">
  <h1>The Process to Craft your Website</h1>
</div>
