
<div class="header-hero">
  <canvas id="gradient-canvas">
  </canvas>
  <div class="header">
    <div class="header-logo">
      <%= link_to root_path do %>
        <%= image_tag 'Koun-logo.svg', class: 'logo', alt: 'logo KOUN Website' %>
      <% end %>
    </div>
    </div>
    <div class="navbar">
      <ul>
        <li>Portfolio</li>
        <li>Services</li>
        <li>Blog</li>
        <li class="quote-button">Get a quote</li>
      </ul>
    </div>
    <div class="hero">
      <div class="hero-text">
        <h1>
          Offline is silent,<br>
          Online is loud.
        </h1>
        <h2>
          Partner with us to create a tailored Website.
        </h2>
        <div class="quote-button">Request a quote</div>  
      </div>
    <div class="hero-carrousel"></div>
  </div>
</div>
<div class="process">
  <div class="process-headers">
  <h1>The Process to Craft your Website</h1>
  </div>
  <div class="process-logo">
      <div class="thumbnail">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="40" viewBox="0 0 27 40" fill="none">
          <path d="M24.3117 34.5159C24.3467 34.3568 24.3678 34.1926 24.3678 34.023C24.3678 32.8708 23.5131 31.9232 22.406 31.7582C22.2814 31.4115 22.1453 31.0768 22.0023 30.7315C21.0828 28.5099 19.8331 25.4828 19.7729 13.3329C21.0391 13.3315 22.069 12.3011 22.069 11.0345C22.069 10.7453 22.0092 10.4708 21.9113 10.2156C22.5563 9.80828 22.9885 9.09333 22.9885 8.27586V3.67816V0.91954V0H17.931V2.75862H17.0115V0H9.65517V2.75862H8.73563V0H3.67816V0.91954V3.67816V8.27586C3.67816 9.09333 4.11035 9.80828 4.7554 10.2156C4.65747 10.4708 4.5977 10.7453 4.5977 11.0345C4.5977 12.3011 5.62759 13.3315 6.89379 13.3333C6.83356 25.4832 5.58345 28.5103 4.66437 30.732C4.52138 31.0772 4.38575 31.412 4.26069 31.7586C3.15356 31.9232 2.29885 32.8708 2.29885 34.023C2.29885 34.1926 2.32 34.3568 2.35494 34.5159C1.02483 34.7122 0 35.8575 0 37.2414C0 38.7628 1.23724 40 2.75862 40H23.908C25.4294 40 26.6667 38.7628 26.6667 37.2414C26.6667 35.8575 25.6418 34.7122 24.3117 34.5159ZM4.13793 34.023C4.13793 33.7738 4.34851 33.5632 4.5977 33.5632H22.069C22.3182 33.5632 22.5287 33.7738 22.5287 34.023C22.5287 34.2722 22.3182 34.4828 22.069 34.4828H4.5977C4.34851 34.4828 4.13793 34.2722 4.13793 34.023ZM5.51724 1.83908H6.89655V4.5977H11.4943V1.83908H15.1724V4.5977H19.7701V1.83908H21.1494V3.67816V8.27586C21.1494 8.52506 20.9389 8.73563 20.6897 8.73563H5.97701C5.72782 8.73563 5.51724 8.52506 5.51724 8.27586V3.67816V1.83908ZM6.43678 11.0345C6.43678 10.7853 6.64736 10.5747 6.89655 10.5747H19.7701C20.0193 10.5747 20.2299 10.7853 20.2299 11.0345C20.2299 11.2837 20.0193 11.4943 19.7701 11.4943H6.89655C6.64736 11.4943 6.43678 11.2837 6.43678 11.0345ZM8.73333 13.3333H17.9333C17.9954 25.857 19.3255 29.0726 20.303 31.4349C20.3448 31.5361 20.3807 31.6276 20.4202 31.7241H6.24644C6.28552 31.628 6.32184 31.5361 6.36368 31.4349C7.34115 29.0726 8.67126 25.857 8.73333 13.3333ZM23.908 38.1609H2.75862C2.25149 38.1609 1.83908 37.7485 1.83908 37.2414C1.83908 36.7343 2.25149 36.3218 2.75862 36.3218H23.908C24.4152 36.3218 24.8276 36.7343 24.8276 37.2414C24.8276 37.7485 24.4152 38.1609 23.908 38.1609Z" fill="#3B7BCE">
          </path>
        </svg>
      </div>
      <div class="thumbnail">
        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="40" viewBox="0 0 41 40" fill="none">
          <path d="M19.5882 22.8787H4.23124C3.89507 22.8787 3.62305 22.6074 3.62305 22.2727V11.6666C3.62305 11.3319 3.89507 11.0605 4.23124 11.0605H19.5882C19.9243 11.0605 20.1964 11.3319 20.1964 11.6666V22.2727C20.1964 22.6074 19.9243 22.8787 19.5882 22.8787ZM4.83944 21.6666H18.98V12.2727H4.83944V21.6666Z" fill="#7748E3"></path>
          <path d="M39.5327 40H0.608195C0.272025 40 0 39.7286 0 39.3939V0.606061C0 0.271366 0.272025 0 0.608195 0H39.5327C39.8688 0 40.1408 0.271366 40.1408 0.606061V39.3939C40.1408 39.7286 39.8688 40 39.5327 40ZM1.21639 38.7879H38.9245V1.21212H1.21639V38.7879Z" fill="#7748E3"></path>
          <path d="M22.2765 4.88595H3.34648C3.01031 4.88595 2.73828 4.61458 2.73828 4.27989C2.73828 3.94519 3.01031 3.67383 3.34648 3.67383H22.2765C22.6127 3.67383 22.8847 3.94519 22.8847 4.27989C22.8847 4.61458 22.6127 4.88595 22.2765 4.88595Z" fill="#7748E3"></path>
          <path d="M35.7905 5.28395C36.3469 5.28395 36.7979 4.83453 36.7979 4.28016C36.7979 3.72578 36.3469 3.27637 35.7905 3.27637C35.2342 3.27637 34.7832 3.72578 34.7832 4.28016C34.7832 4.83453 35.2342 5.28395 35.7905 5.28395Z" fill="#7748E3"></path>
          <path d="M31.4741 5.28394C32.0304 5.28394 32.4814 4.83453 32.4814 4.28016C32.4814 3.72578 32.0304 3.27637 31.4741 3.27637C30.9178 3.27637 30.4668 3.72578 30.4668 4.28016C30.4668 4.83453 30.9178 5.28394 31.4741 5.28394Z" fill="#7748E3"></path>
          <path d="M27.1616 5.28393C27.7179 5.28393 28.1689 4.83452 28.1689 4.28015C28.1689 3.72578 27.7179 3.27637 27.1616 3.27637C26.6053 3.27637 26.1543 3.72578 26.1543 4.28015C26.1543 4.83452 26.6053 5.28393 27.1616 5.28393Z" fill="#7748E3"></path>
          <path d="M39.5327 8.56061H0.608195C0.272025 8.56061 0 8.28924 0 7.95455V0.606061C0 0.271366 0.272025 0 0.608195 0H39.5327C39.8688 0 40.1408 0.271366 40.1408 0.606061V7.95455C40.1408 8.28924 39.8688 8.56061 39.5327 8.56061ZM1.21639 7.34848H38.9245V1.21212H1.21639V7.34848Z" fill="#7748E3"></path>
          <path d="M36.4407 13.5354H22.4012C22.065 13.5354 21.793 13.264 21.793 12.9293C21.793 12.5946 22.065 12.3232 22.4012 12.3232H36.4407C36.7769 12.3232 37.0489 12.5946 37.0489 12.9293C37.0489 13.264 36.7769 13.5354 36.4407 13.5354Z" fill="#7748E3"></path>
          <path d="M36.4407 17.5754H22.4012C22.065 17.5754 21.793 17.304 21.793 16.9693C21.793 16.6346 22.065 16.3633 22.4012 16.3633H36.4407C36.7769 16.3633 37.0489 16.6346 37.0489 16.9693C37.0489 17.304 36.7769 17.5754 36.4407 17.5754Z" fill="#7748E3"></path>
          <path d="M36.4407 21.6164H22.4012C22.065 21.6164 21.793 21.3451 21.793 21.0104C21.793 20.6757 22.065 20.4043 22.4012 20.4043H36.4407C36.7769 20.4043 37.0489 20.6757 37.0489 21.0104C37.0489 21.3451 36.7769 21.6164 36.4407 21.6164Z" fill="#7748E3"></path>
          <path d="M36.4406 27.552H4.23124C3.89507 27.552 3.62305 27.2806 3.62305 26.9459C3.62305 26.6112 3.89507 26.3398 4.23124 26.3398H36.4406C36.7768 26.3398 37.0488 26.6112 37.0488 26.9459C37.0488 27.2806 36.7768 27.552 36.4406 27.552Z" fill="#7748E3"></path>
          <path d="M36.4406 31.592H4.23124C3.89507 31.592 3.62305 31.3206 3.62305 30.9859C3.62305 30.6512 3.89507 30.3799 4.23124 30.3799H36.4406C36.7768 30.3799 37.0488 30.6512 37.0488 30.9859C37.0488 31.3206 36.7768 31.592 36.4406 31.592Z" fill="#7748E3"></path>
          <path d="M36.4406 35.632H4.23124C3.89507 35.632 3.62305 35.3607 3.62305 35.026C3.62305 34.6913 3.89507 34.4199 4.23124 34.4199H36.4406C36.7768 34.4199 37.0488 34.6913 37.0488 35.026C37.0488 35.3607 36.7768 35.632 36.4406 35.632Z" fill="#7748E3"></path>
        </svg>
      </div>
      <div class="thumbnail">
       <svg xmlns="http://www.w3.org/2000/svg" width="33" height="40" viewBox="0 0 33 40" fill="none">
          <path d="M6.52671 16.4692C6.37086 19.3043 7.43627 22.0616 9.44998 24.0336C11.0366 25.5874 11.9466 27.727 11.9466 29.9039V31.159C11.9466 32.4919 13.0204 33.5759 14.3407 33.5759H18.0331C19.3534 33.5759 20.4272 32.4919 20.4272 31.159V29.9047C20.4272 27.7003 21.3143 25.5825 22.8614 24.0945C24.7967 22.2327 25.8626 19.7216 25.8626 17.0239C25.8626 11.6376 21.5221 7.25586 16.1867 7.25586C15.8226 7.25586 15.4528 7.2763 15.0878 7.31719C10.4656 7.83319 6.78513 11.7679 6.52671 16.4692ZM15.2816 9.0843C15.5827 9.05053 15.8873 9.03364 16.1871 9.03364C20.5514 9.03364 24.102 12.6176 24.102 17.0239C24.102 19.2305 23.2303 21.2843 21.6471 22.8074C19.7532 24.6292 18.6666 27.2159 18.6666 29.9047V31.159C18.6666 31.5114 18.3822 31.7981 18.0336 31.7981H14.3412C13.9921 31.7981 13.7081 31.511 13.7081 31.159V29.9039C13.7081 27.2492 12.6031 24.6447 10.6765 22.7576C9.02954 21.1447 8.15784 18.8883 8.28551 16.5679C8.49639 12.723 11.5042 9.50608 15.2816 9.0843Z" fill="#F1CD0E"></path>
          <path d="M16.1877 11.4646C17.5058 11.4646 18.7821 11.9442 19.7815 12.8153C19.9065 12.9242 20.0597 12.9775 20.2129 12.9775C20.3983 12.9775 20.5823 12.8993 20.7131 12.7464C20.9517 12.4677 20.9209 12.0469 20.6448 11.806C19.4055 10.726 17.8228 10.1309 16.1877 10.1309C15.8228 10.1309 15.5273 10.4291 15.5273 10.7975C15.5273 11.166 15.8228 11.4646 16.1877 11.4646Z" fill="#F1CD0E"></path>
          <path d="M21.6941 17.0241C21.6941 17.3926 21.9895 17.6908 22.3545 17.6908C22.7195 17.6908 23.0149 17.3926 23.0149 17.0241C23.0149 16.1721 22.8617 15.3397 22.5597 14.5495C22.4285 14.2063 22.0468 14.0357 21.706 14.1677C21.3657 14.3001 21.1962 14.6863 21.3278 15.0295C21.5708 15.6659 21.6941 16.337 21.6941 17.0241Z" fill="#F1CD0E"></path>
          <path d="M19.0517 34.4541H13.3205C12.9556 34.4541 12.6602 34.7523 12.6602 35.1208C12.6602 35.4892 12.9556 35.7874 13.3205 35.7874H19.0522C19.4171 35.7874 19.7125 35.4892 19.7125 35.1208C19.7125 34.7523 19.4167 34.4541 19.0517 34.4541Z" fill="#F1CD0E"></path>
          <path d="M19.7121 37.2272C19.7121 36.8588 19.4167 36.5605 19.0517 36.5605H13.3205C12.9556 36.5605 12.6602 36.8588 12.6602 37.2272C12.6602 37.5957 12.9556 37.8939 13.3205 37.8939H19.0522C19.4167 37.8939 19.7121 37.5952 19.7121 37.2272Z" fill="#F1CD0E"></path>
          <path d="M0.660377 15.6738C0.295409 15.6738 0 15.9721 0 16.3405C0 16.7089 0.295409 17.0072 0.660377 17.0072H4.46547C4.83044 17.0072 5.12585 16.7089 5.12585 16.3405C5.12585 15.9721 4.83044 15.6738 4.46547 15.6738H0.660377Z" fill="#F1CD0E"></path>
          <path d="M31.7116 17.0072C32.0765 17.0072 32.3719 16.7089 32.3719 16.3405C32.3719 15.9721 32.0765 15.6738 31.7116 15.6738H27.9065C27.5415 15.6738 27.2461 15.9721 27.2461 16.3405C27.2461 16.7089 27.5415 17.0072 27.9065 17.0072H31.7116Z" fill="#F1CD0E"></path>
          <path d="M15.5273 0.666667V4.508C15.5273 4.87644 15.8228 5.17467 16.1877 5.17467C16.5527 5.17467 16.8481 4.87644 16.8481 4.508V0.666667C16.8481 0.298222 16.5527 0 16.1877 0C15.8228 0 15.5273 0.298222 15.5273 0.666667Z" fill="#F1CD0E"></path>
          <path d="M24.9437 8.44482L27.634 5.72882C27.892 5.46882 27.892 5.04615 27.634 4.78615C27.3761 4.52571 26.9583 4.52571 26.7003 4.78615L24.0099 7.50215C23.7519 7.76215 23.7519 8.18482 24.0099 8.44482C24.1389 8.57504 24.3079 8.63993 24.477 8.63993C24.6461 8.63993 24.8147 8.57504 24.9437 8.44482Z" fill="#F1CD0E"></path>
          <path d="M7.43074 24.2363L4.74037 26.9523C4.48238 27.2123 4.48238 27.6346 4.74037 27.895C4.86936 28.0252 5.03842 28.0901 5.20747 28.0901C5.37653 28.0901 5.54559 28.0252 5.67458 27.895L8.36496 25.179C8.62294 24.919 8.62294 24.4968 8.36496 24.2363C8.10697 23.9759 7.68873 23.9759 7.43074 24.2363Z" fill="#F1CD0E"></path>
          <path d="M5.67414 4.78615C5.41615 4.52571 4.99835 4.52571 4.74037 4.78615C4.48238 5.04615 4.48238 5.46882 4.74037 5.72882L7.43074 8.44482C7.55974 8.57504 7.72879 8.63993 7.89785 8.63993C8.06691 8.63993 8.23596 8.57504 8.36496 8.44482C8.62294 8.18482 8.62294 7.76215 8.36496 7.50215L5.67414 4.78615Z" fill="#F1CD0E"></path>
          <path d="M24.0099 24.2363C23.7519 24.4968 23.7519 24.919 24.0099 25.179L26.7003 27.895C26.8293 28.0252 26.9983 28.0901 27.1674 28.0901C27.3364 28.0901 27.5055 28.0252 27.6345 27.895C27.8925 27.6346 27.8925 27.2123 27.6345 26.9523L24.9441 24.2363C24.6857 23.9759 24.2679 23.9759 24.0099 24.2363Z" fill="#F1CD0E"></path>
          <path d="M18.2801 39.3337C18.2801 38.9652 17.9847 38.667 17.6197 38.667H14.7541C14.3892 38.667 14.0938 38.9652 14.0938 39.3337C14.0938 39.7021 14.3892 40.0003 14.7541 40.0003H17.6197C17.9847 40.0003 18.2801 39.7021 18.2801 39.3337Z" fill="#F1CD0E"></path>
        </svg>
      </div>
      <div class="thumbnail">
       <svg xmlns="http://www.w3.org/2000/svg" width="40" height="21" viewBox="0 0 40 21" fill="none">
          <path d="M11.0102 2.45925L3.44887 10.081L11.0102 17.7028C11.5687 18.2658 11.5687 19.1759 11.0102 19.7389C10.7316 20.0197 10.3659 20.1609 10.0002 20.1609C9.63447 20.1609 9.26876 20.0197 8.9902 19.7389L0.418921 11.0991C-0.13964 10.5361 -0.13964 9.626 0.418921 9.06297L8.9902 0.423129C9.54876 -0.139901 10.4516 -0.139901 11.0102 0.423129C11.5687 0.986159 11.5687 1.89622 11.0102 2.45925ZM39.5811 9.06297L31.0098 0.423129C30.4512 -0.139901 29.5484 -0.139901 28.9898 0.423129C28.4313 0.986159 28.4313 1.89622 28.9898 2.45925L36.5511 10.081L28.9898 17.7028C28.4313 18.2658 28.4313 19.1759 28.9898 19.7389C29.2684 20.0197 29.6341 20.1609 29.9998 20.1609C30.3655 20.1609 30.7312 20.0197 31.0098 19.7389L39.5811 11.0991C40.1396 10.5361 40.1396 9.626 39.5811 9.06297ZM24.9242 0.152413C24.2199 -0.203261 23.3614 0.0847346 23.0071 0.796082L14.4358 18.0758C14.083 18.7871 14.3687 19.6525 15.0744 20.0082C15.2801 20.1119 15.4972 20.1594 15.7115 20.1594C16.2358 20.1594 16.7401 19.8685 16.9915 19.3631L25.5628 2.08342C25.9156 1.37207 25.6299 0.508086 24.9242 0.152413Z" fill="#01AFE9"></path>
        </svg>
      </div>
      <div class="thumbnail">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="36" viewBox="0 0 40 36" fill="none">
          <path d="M7.87889 15.6318H1.12556C0.504249 15.6318 0 16.1321 0 16.7484V34.6132C0 35.2295 0.504249 35.7298 1.12556 35.7298H7.87889C8.5002 35.7298 9.00445 35.2295 9.00445 34.6132V16.7484C9.00445 16.1321 8.5002 15.6318 7.87889 15.6318ZM6.75333 33.4967H2.25111V17.8649H6.75333V33.4967Z" fill="#90C404"></path>
          <path d="M39.496 17.2842C38.8522 15.8461 37.7447 15.6317 37.1436 15.6317H26.4711C26.7255 14.6759 27.6372 12.8068 28.335 11.3799C30.2395 7.47419 32.2092 3.43674 30.8518 1.29073C30.4826 0.705661 29.715 0.0133987 28.1392 0.0133987L26.6287 0C25.3095 0 23.1012 0 22.0049 2.17504C18.2658 9.57108 11.6701 15.8796 11.6025 15.9421C11.3797 16.1543 11.2559 16.4446 11.2559 16.7483V34.6131C11.2559 35.2294 11.7984 35.7296 12.4219 35.7296H32.6414C36.8172 35.7296 40.0003 25.4395 40.0003 20.2877C40.0003 19.0394 39.8315 18.0301 39.496 17.2842ZM32.6414 33.4965H13.507V17.2172C14.9657 15.7746 20.5575 10.0155 24.0152 3.17324C24.3888 2.43631 24.9516 2.2331 26.6287 2.2331L28.1392 2.2465C28.3846 2.2465 28.8168 2.27776 28.9428 2.47874C29.6384 3.57743 27.5539 7.85159 26.309 10.4085C24.5082 14.0953 23.6775 15.9243 24.4294 17.1123C24.6049 17.3914 25.0327 17.8648 25.8881 17.8648H37.1436C37.1909 17.8648 37.2922 17.8648 37.4385 18.1909C37.5804 18.508 37.7492 19.1265 37.7492 20.2877C37.7492 25.7298 34.4446 33.4965 32.6414 33.4965Z" fill="#90C404"></path>
        </svg>
      </div>
      <div class="thumbnail">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" viewBox="0 0 40 50" fill="none">
          <path d="M5.10207 20.4157C14.7713 19.5423 24.0059 15.9918 31.7697 10.1625L32.5966 11.0327C32.6734 11.1115 32.7694 11.1687 32.8751 11.1989C32.9809 11.229 33.0927 11.2309 33.1994 11.2044C33.3061 11.1779 33.4041 11.1239 33.4834 11.0478C33.5628 10.9717 33.6209 10.8762 33.6519 10.7707L35.5005 4.18104C35.5287 4.07517 35.5288 3.96376 35.5008 3.85783C35.4728 3.7519 35.4177 3.65509 35.3409 3.57697C35.264 3.49885 35.1682 3.44211 35.0627 3.41235C34.9573 3.3826 34.8459 3.38085 34.7395 3.40729L28.1233 5.14318C28.0187 5.17191 27.9233 5.22718 27.8463 5.30363C27.7693 5.38009 27.7134 5.47512 27.684 5.57954C27.6546 5.68395 27.6526 5.79419 27.6784 5.89958C27.7041 6.00497 27.7566 6.10193 27.8308 6.18105L28.3938 6.76793C25.4618 9.46705 22.2306 11.8218 18.7632 13.7863C14.4421 16.232 9.79409 18.0487 4.95978 19.1815C4.81294 19.219 4.68468 19.3085 4.59876 19.4334C4.51283 19.5583 4.47505 19.7101 4.49241 19.8606C4.50977 20.0112 4.58109 20.1504 4.69318 20.2525C4.80527 20.3545 4.95053 20.4125 5.10207 20.4157ZM19.38 14.8745C23.1183 12.7565 26.5878 10.1959 29.7135 7.24793C29.8339 7.13294 29.9038 6.97493 29.908 6.8085C29.9121 6.64208 29.8501 6.4808 29.7355 6.35999L29.4699 6.08304L34.0012 4.89402L32.745 9.37314L32.2901 8.89467C32.1806 8.77964 32.0315 8.71053 31.873 8.70135C31.7145 8.69216 31.5584 8.74359 31.4363 8.8452C26.2367 12.8345 20.3167 15.784 14.0005 17.5323C15.8422 16.7482 17.6382 15.8609 19.38 14.8745Z" fill="#3B7BCE"></path>
          <path d="M36.8853 35.3652H3.11658C2.95226 35.3676 2.79545 35.4345 2.68007 35.5515C2.56468 35.6685 2.5 35.8263 2.5 35.9906C2.5 36.1549 2.56468 36.3127 2.68007 36.4297C2.79545 36.5467 2.95226 36.6136 3.11658 36.616H36.8853C37.0497 36.6136 37.2065 36.5467 37.3219 36.4297C37.4372 36.3127 37.5019 36.1549 37.5019 35.9906C37.5019 35.8263 37.4372 35.6685 37.3219 35.5515C37.2065 35.4345 37.0497 35.3676 36.8853 35.3652Z" fill="#3B7BCE"></path>
          <path d="M5.43394 26.165C5.35181 26.165 5.27048 26.1812 5.1946 26.2126C5.11872 26.244 5.04978 26.2901 4.9917 26.3482C4.93363 26.4062 4.88757 26.4752 4.85615 26.5511C4.82473 26.6269 4.80857 26.7083 4.80859 26.7904V33.3425C4.80857 33.4246 4.82473 33.5059 4.85615 33.5818C4.88757 33.6577 4.93363 33.7267 4.9917 33.7847C5.04978 33.8428 5.11872 33.8889 5.1946 33.9203C5.27048 33.9517 5.35181 33.9679 5.43394 33.9678H10.7311C10.8132 33.9679 10.8945 33.9517 10.9704 33.9203C11.0463 33.8889 11.1152 33.8428 11.1733 33.7847C11.2314 33.7267 11.2774 33.6577 11.3089 33.5818C11.3403 33.5059 11.3564 33.4246 11.3564 33.3425V26.7904C11.3564 26.7083 11.3403 26.6269 11.3089 26.5511C11.2774 26.4752 11.2314 26.4062 11.1733 26.3482C11.1152 26.2901 11.0463 26.244 10.9704 26.2126C10.8945 26.1812 10.8132 26.165 10.7311 26.165H5.43394ZM10.1057 32.7171H6.05929V27.4157H10.1057V32.7171Z" fill="#3B7BCE"></path>
          <path d="M13.3793 22.8906C13.2971 22.8906 13.2158 22.9068 13.1399 22.9382C13.064 22.9696 12.9951 23.0157 12.937 23.0737C12.8789 23.1318 12.8329 23.2008 12.8015 23.2766C12.77 23.3525 12.7539 23.4338 12.7539 23.516V33.342C12.7539 33.4241 12.77 33.5055 12.8015 33.5813C12.8329 33.6572 12.8789 33.7262 12.937 33.7842C12.9951 33.8423 13.064 33.8884 13.1399 33.9198C13.2158 33.9512 13.2971 33.9674 13.3793 33.9673H18.6764C18.7585 33.9674 18.8398 33.9512 18.9157 33.9198C18.9916 33.8884 19.0606 33.8423 19.1186 33.7842C19.1767 33.7262 19.2228 33.6572 19.2542 33.5813C19.2856 33.5055 19.3018 33.4241 19.3017 33.342V23.516C19.3018 23.4338 19.2856 23.3525 19.2542 23.2766C19.2228 23.2008 19.1767 23.1318 19.1186 23.0737C19.0606 23.0157 18.9916 22.9696 18.9157 22.9382C18.8398 22.9068 18.7585 22.8906 18.6764 22.8906H13.3793ZM18.051 32.7167H14.0046V24.1413H18.051V32.7167Z" fill="#3B7BCE"></path>
          <path d="M21.3246 18.9922C21.2424 18.9922 21.1611 19.0083 21.0852 19.0397C21.0093 19.0712 20.9404 19.1172 20.8823 19.1753C20.8243 19.2334 20.7782 19.3023 20.7468 19.3782C20.7154 19.4541 20.6992 19.5354 20.6992 19.6175V33.3425C20.6992 33.4247 20.7154 33.506 20.7468 33.5819C20.7782 33.6578 20.8243 33.7267 20.8823 33.7848C20.9404 33.8428 21.0093 33.8889 21.0852 33.9203C21.1611 33.9517 21.2424 33.9679 21.3246 33.9679H26.6217C26.7038 33.9679 26.7852 33.9517 26.861 33.9203C26.9369 33.8889 27.0059 33.8428 27.0639 33.7848C27.122 33.7267 27.1681 33.6578 27.1995 33.5819C27.2309 33.506 27.2471 33.4247 27.2471 33.3425V19.6175C27.2471 19.5354 27.2309 19.4541 27.1995 19.3782C27.1681 19.3023 27.122 19.2334 27.0639 19.1753C27.0059 19.1172 26.9369 19.0712 26.861 19.0397C26.7852 19.0083 26.7038 18.9922 26.6217 18.9922H21.3246ZM25.9964 32.7172H21.9499V20.2429H25.9964V32.7172Z" fill="#3B7BCE"></path>
          <path d="M29.2699 14.4678C29.1878 14.4678 29.1064 14.4839 29.0305 14.5153C28.9547 14.5468 28.8857 14.5928 28.8276 14.6509C28.7696 14.709 28.7235 14.7779 28.6921 14.8538C28.6607 14.9297 28.6445 15.011 28.6445 15.0931V33.3427C28.6445 33.4248 28.6607 33.5062 28.6921 33.5821C28.7235 33.6579 28.7696 33.7269 28.8276 33.785C28.8857 33.843 28.9547 33.8891 29.0305 33.9205C29.1064 33.9519 29.1878 33.9681 29.2699 33.9681H34.567C34.6491 33.9681 34.7305 33.9519 34.8064 33.9205C34.8822 33.8891 34.9512 33.843 35.0093 33.785C35.0673 33.7269 35.1134 33.6579 35.1448 33.5821C35.1762 33.5062 35.1924 33.4248 35.1924 33.3427V15.0931C35.1924 15.011 35.1762 14.9297 35.1448 14.8538C35.1134 14.7779 35.0673 14.709 35.0093 14.6509C34.9512 14.5928 34.8822 14.5468 34.8064 14.5153C34.7305 14.4839 34.6491 14.4678 34.567 14.4678H29.2699ZM33.9417 32.7174H29.8952V15.7185H33.9417V32.7174Z" fill="#3B7BCE"></path>
        </svg>
      </div>
  </div>
</div>
