
<div class="header-hero">
  <canvas id="gradient-canvas">
  </canvas>
  <div class="header">
    <div class="header-logo"><%= image_tag 'Koun-logo.svg', class: 'logo' %></div>
    <div class="navbar"></div>
  </div>
  <div class="header-separator">
    <% image_tag 'header-separator.svg', class: 'separator' %>
  </div>
</div>
