<canvas id="gradient-canvas-portfolio">
</canvas>
<%= render 'layouts/navbar' %>
<div class="portfolio-container">
  <div class="thumb-col">
    <%= image_tag 'Capture Esther.png', class: 'thumb-portfolio', alt: 'Website Screenshot' %>
  </div>
  <div class="center">
    <%= image_tag 'Capture Esther.png', class: 'center-portfolio', alt: 'Website Screenshot' %>
  </div>
  <div class="right-col">

  </div>
</div>
