<canvas id="gradient-canvas-portfolio">
</canvas>
<%= render 'layouts/navbar' %>
<div class="portfolio-container">
  <div class="thumb-col">

  </div>
  <div class="center">
    
  </div>
  <div class="right-col">

  </div>
</div>
