/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
  font-family: 'Bahnschrift';
  src: url('<%= asset_path('fonts/BAHNSCHRIFT.TTF') %>') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.08;
  overflow-x: hidden;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */
body {
  font-family: 'Bahnschrift', sans-serif;
}
a {
  text-decoration: none; /* Supprime le soulignement par défaut des liens */
  color: inherit; /* Utilise la couleur du texte parent */
}
h1 {
  color: #3095FF;
  font-size: 30pt;
  font-weight: 500;
  padding-bottom: 4rem;
  padding-top: 3rem;
  text-align: center;
}

/* HEADER STYLES */
.header-hero {
  /* background: linear-gradient(to right, #0E21A0, #EC53B0); */
  width: 100%;
  height: 100vh;
}
.header {
  height: 125px;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 2;
  position: absolute;
}
.logo {
  position: absolute;
  padding: 2.5rem 3rem;
  width: 200px;
  z-index: 1;
}
#gradient-canvas {
  position: absolute;
  width:100%;
  height:100%;
  --gradient-color-1: #0E21A0; 
  --gradient-color-2: #EC53B0; 
  z-index:0;
}
.navbar {
  color: white;
  position: absolute;
  padding: 3.5rem 2rem;
  width: auto;
  z-index: 1;
  right: 2px;
  font-size: 1.5rem;
  box-sizing: border-box;
  font-size: 16pt;
}
.navbar li {
  display: inline;
  list-style: none;
}
.navbar li ~li {
  padding-left: 1rem;
}
.navbar .quote-button {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.4rem 2.2rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: 1rem;
  text-transform: uppercase;
  width: fit-content;
}

/* HERO STYLES */
.hero {
  color: #fff;
  display: flex;
  position: absolute;
  z-index: 3;
}
.hero-text {
  left: 130px;
  position: relative;
  top: 30vh;
  width: 100%;
}
.hero-text h1 {
  color: #fff;
  font-weight: bold;
  font-size: 32pt;
  padding: 0;
  text-align: left;
}
.hero-text h2 {
  margin-top: 1.5rem;
  width: 70%;
  font-size: 20pt;
  font-weight: 300;
}
.hero-text .quote-button {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.6rem 2.2rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 20pt;
  margin-top: 1.5rem;
  width: fit-content;
}

/* PROCESS STYLES */
.process {
  background-color: #F4F9FF;
  border-bottom: rgba(26, 128, 249, 0.2) solid 2px;
}
.process-logo {
  display: flex;
  flex-direction: row;
  top: 44px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  justify-content:  center;
}
.thumbnail {
  margin-left: auto;
  margin-right: auto;
  flex: 0 0 auto;
  position: relative;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 10px #eaf7ff, 0 0 0 10px #fff;
  box-shadow: 0 4px 10px #eaf7ff, 0 0 0 10px #fff;
  border: 1px solid #f2f2f2;
  background: linear-gradient(146deg,#f1f1f1 0,#fff 30.72%,#eeebeb 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
.process-content {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  height: 550px;
  margin-left: 15.5rem;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
}
.item h2 {
  color: #5f6568;
  font-size: 18pt;
  margin-bottom: 1.5rem;
  text-align: center;
}
.process-text {
  margin-right: 10rem;
  width: 30vw;
  position: relative;
  top: 140px;
}
.process-text h2 {
  color: #3b7bce;
  font-size: 20pt;
  font-weight: 600;
  margin-bottom: 2rem;
}
.process-text p {
  color: #1b2c5c;
}
.process-img {
  position: relative;
  z-index: 2;
  top: 80px;
}

/* TESTIMONIALS STYLES */
.testimonials {
  background-color: #F4F9FF;
  height: 400px;
  margin-top: 5rem;
}

/* FAQ STYLES */
.faq {
  height: 400px;
}
#gradient-canvas-bottom {
  position: absolute;
  width:100%;
  height:100%;
  --gradient-color-1: #0E21A0; 
  --gradient-color-2: #EC53B0;
  --gradient-color-3: #EC53B0; 
  --gradient-color-4: #7C3AA8;  
  z-index:0;
}
.faq h1 {
  color: #fff;
  position: relative;
  z-index: 1;
}
