
<footer>
<canvas id="gradient-canvas-footer">
</canvas>
  <div class="footer-left">
    <ul>
      <li>Portfolio</li>
      <li>Services</li>
      <li>About Us</li>
    </ul>
  </div>
  <div class="footer-center">
     <%= link_to root_path do %><%= image_tag "Koun-logo.svg", class: "footer-logo", alt: "Logo koun.online" %> <% end %>
  </div>
  <div class="footer-right">
    <ul>
      <li>contact@koun.online</li>
      <li>+212 620 30 22 94</li>
    </ul>
  </div>
</footer>